####################################################################
# Mend Unified Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true
offline=false
dependenciesOnly=true

# Change the below URL to your Mend server.
# Use the 'Mend Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

npm.resolveDependencies=true
npm.includeDevDependencies=false
npm.runPreStep=true

html.resolveDependencies=false

##################################
# Organization tokens:
##################################
#userKey is required if Mend administrator has enabled "Enforce user level access" option
#userKey=

projectName=openidm-enduser
#projectToken=
#productName=
#productVersion=
#updateType=APPEND
requesterEmail=bruno.lavit@pingidentity.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.jar

## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar **/*wss-unified-agent*.* **wss-unified-agent/**

case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
archiveExtractionDepth=7
archiveIncludes=**/*.war **/*.ear **/*.jar
archiveExcludes=**/*sources.jar **/*wss-unified-agent*.*

##################################
# Reporting preferences
##################################
generateProjectDetailsJson=true
generateScanReport=true
scanReportFilenameFormat=