####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true
offline=false
dependenciesOnly=true

wss.connectionTimeoutMinutes=WHITESOURCE_TIMEOUT_VALUE
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

npm.resolveDependencies=true
npm.includeDevDependencies=false
npm.runPreStep=true

html.resolveDependencies=false

##################################
# Organization tokens:
##################################
apiKey=WHITESOURCE_API_KEY_VALUE

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=

projectName=openidm-enduser
projectVersion=master
#projectToken=

#productName=
#productVersion=
productToken=261022644bb6427a90535ed1f84e133ed0246528009a413dbf12875c3608cf0d
#updateType=APPEND
requesterEmail=bruno.lavit@forgerock.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.jar

## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar **/*wss-unified-agent*.* **wss-unified-agent/**

case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
archiveExtractionDepth=7
archiveIncludes=**/*.war **/*.ear **/*.jar
archiveExcludes=**/*sources.jar **/*wss-unified-agent*.*
