// Application wide variables can be overridden here
// Forgerock based styles start with fr
$white:    #fff;
$gray-100: #F6F8FA;
$gray-200: #E7EEF4;
$gray-300: #D3D8E0;
$gray-400: #C0C9D5;
$gray-500: #77869E;
$gray-600: #5E6D82;
$gray-700: #455469;
$gray-800: #324054;
$gray-900: #23282E;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-500;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

//Base
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

// Global Variables
$enable-shadows:                    false;
$enable-rounded:                    true;

//General
$body-bg:                           $gray-100;
$headings-color:                    $gray-900;
$font-weight-bold:                  500;
$transition-collapse:               height .25s ease-in;
$border-radius:                     4px;
$border-color:                      rgba(0, 0, 0, 0.125);
$fr-typeface:                       "Roboto", sans-serif !default;
$fr-background-image:               none !default;

//Jumbotron
$jumbotron-bg:                      transparent;


//Card
$card-spacer-y:                     1.875rem;
$card-spacer-x:                     1.875rem;
$card-cap-bg:                       transparent;

// General Input
$input-padding-y:                   .75rem;
$input-placeholder-color:           $gray-500;
$input-btn-padding-x:               1.25rem;
$input-btn-padding-y:               .75rem;
$input-bg:                          $white;
$input-disabled-bg:                 transparent;
$input-color:                       $gray-900;
$label-color:                       inherit;
/*
$input-border-color:                !default;
$input-placeholder-color:           !default;
$input-focus-bg:                    !default;
$input-focus-box-shadow:            !default;
$input-focus-border-color:          !default;
$input-focus-color:                 !default;
*/
$input-btn-color:                   $gray-800;
$input-btn-active-color:            $gray-900;

$input-group-addon-bg:              $input-bg;

//Button
$btn-padding-x:                     $input-btn-padding-x;
$btn-padding-y:                     $input-btn-padding-y;

// Custom form controls// Custom form controls
$custom-control-indicator-bg:             $gray-400;
$custom-control-indicator-checked-bg:     $primary;
$custom-checkbox-indicator-border-color:  $gray-400;
$custom-select-focus-border-color:        $gray-500;

// Switches
$fr-switch-bg:                          $gray-400;
$fr-switch-toggled-bg:                  $primary;

// List group
$list-group-item-padding-y:         1.25rem;
$list-group-item-padding-x:         1.875rem;
$list-group-hover-bg:               $white;
$list-group-active-bg:              $white;
$fr-hover-list-color:               $list-group-active-bg;

// Custom form controls
$custom-control-gutter:             2rem;
$custom-control-indicator-bg:       #fff;
$custom-select-height:              3rem;

// Toolbar / Navbar
$fr-toolbar-background:             $white !default;
$fr-application-text-color:         $gray-900 !default;
$fr-toolbar-color:                  $gray-900 !default;
$fr-toolbar-dropdown-color:         rgba(0, 0, 0, 0.5) !default;

$navbar-padding-y:                  1.125rem;
$navbar-padding-x:                  1.875rem;
$nav-highlight-color:               $primary;
$navbar-height:                     4.5rem;

//Profile nav tavs
$nav-tabs-border-color:                inherit !default;
$nav-tabs-link-color:                  inherit !default;
$nav-tabs-link-active-color:           inherit !default;
$nav-highlight-color:                  inherit !default;

// Sidebar
$fr-sidebar-nav-width:                 220px !default;
$fr-sidebar-nav-minimized-width:       60px !default;
$fr-sidebar-nav-background-color:      $gray-800 !default;
$fr-sidebar-nav-brand-color:           $gray-800 !default;
$fr-sidebar-nav-link-color:            $gray-500 !default;
$fr-sidebar-nav-link-hover-color:      $white !default;
$fr-sidebar-nav-link-border-color:            transparent;
$fr-sidebar-nav-link-active-border-color:     transparent;
$fr-sidebar-nav-link-active-color:            rgba(0, 0, 0, 0.1);

//Dropdown
$dropdown-link-active-color:        $gray-900;
$dropdown-link-active-bg:           $gray-100;
$dropdown-header-color:             $gray-900;
$dropdown-padding-y:                .25rem;
$dropdown-item-padding-y:           .5rem;

// Alert
$alert-padding-y:                   1.25rem;
$alert-padding-x:                   1.25rem;
$alert-border-width:                0;
$fr-alert-text-color:               $gray-700;
$fr-alert-info-bg-color:            lighten($info,40%);
$fr-alert-secondary-bg-color:       lighten($secondary,40%);
$fr-alert-success-bg-color:         lighten($success,50%);
$fr-alert-warning-bg-color:         lighten($warning,40%);
$fr-alert-danger-bg-color:          lighten($danger,40%);
$fr-alert-light-bg-color:           lighten($light,40%);
$fr-alert-dark-bg-color:            lighten($dark,40%);
$fr-alert-box-shadow:               transparent !default;

// Modal
$modal-transition:                  transform .3s ease-out;
$modal-content-bg:                  $white;
$fr-modal-header-bg:                $modal-content-bg;
$fr-modal-footer-bg:                $fr-modal-header-bg;

//Pagination
$pagination-border-color:                transparent;
$pagination-disabled-border-color:       transparent;
$pagination-border-radius:               $border-radius;
$pagination-hover-bg:                    $gray-100;
$pagination-hover-border-color:          transparent;
$pagination-active-border-color:         transparent;
$pagination-disabled-border-color:       transparent;

//Table
$table-bg:                    transparent !default;
$table-accent-bg:             $gray-100;
$table-hover-bg:              $gray-100;
$table-cell-padding:          1.5rem 1rem;
$table-cell-padding-sm:       .5rem;