// Entire Theme File
// @import "light";
// @import "dark";

// General Theme
#app {
  font-family: 'Roboto', sans-serif;

  // Toolbar background color
  .fr-main-navbar {
    background-color: $fr-toolbar-background;
    color: $fr-toolbar-color;
  }
}