// Entire Theme File
// @import "light";
// @import "dark";

// General Theme
#app {
  color: $black;
  font-family: 'Roboto', sans-serif;

  // Toolbar background color
  .fr-toolbar-background {
    background-color: $fr-toolbar-background;
  }
}